* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
    color: #fff; 
}

.news-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    margin: 0 auto;
    
    width: 100%;
    height: fit-content;
    
    overflow-x: hidden;
    background-color: #121113;
}

/*========================================================================== */

.news-view-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    justify-content: flex-start;
    align-items: left;

    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 2.5%;

    width: 90%;
    height: fit-content;
}

.news-view-container h1 {
    display: flex;
    width: fit-content;
    padding: 5px;


    font-size: 35px;
    font-weight: bold;

    border-radius: .5rem;
    background-color: #2d2d2d;
}

/*========================================================================== */

.news-view {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;

    margin-top: -1%;

    width: 100%;
    height: 20%;

    overflow-x: scroll;
    border-radius: .5rem;
    background-color: #2d2d2d;
}

.news-view::-webkit-scrollbar {
    margin-right: 5%;

    height: 5px;
    width: 10px;

    border-radius: 2rem;
    background: #f21f5f; 
}




.news-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-left: 1.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    
    width: 20%;
    height: 33%;

    border-radius: 2rem;
    background-color: #121113; 
}

.news-item img {
    object-fit: cover;
    aspect-ratio: 1/1;

    width: 100%;
    height: 40%; 
    border-radius: 1rem;
}

.news-item h1 {
    display: flex;
    width: 100%;

    margin-right: 2.75%;
    margin-left: 2.75%;
    margin-bottom: -.5%;
    line-height: 115%;

    text-align: left;
    font-size: 18px;
    font-weight: 550;
}

.news-item h2 {
    display: flex;

    margin-left: 2.75%;
    margin-right: 2.75%;
    margin-bottom: .5%;
    line-height: 115%;

    text-align: left;
    font-size: 17px;
    font-weight: 525;
}

.news-item-button-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-top: 1.5%;
    padding: 5px;

    width: 100%;
    height: fit-content;
}

.news-item button {
    margin-left: 2.75%;
    margin-right: 1%;
    margin-bottom: 2.5%;

    width: fit-content;
    padding: 5px;

    font-size: 10.5px;
    font-weight: 500;

    color: #fff;
    border: none;
    border-radius: .5rem;
    background-color: #2d2d2d;
}

/*========================================================================== */



